{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link rel="stylesheet" href="{% static 'css/global.css' %}"> -->
</head>
<body>
    
    <header> 
        <h1>{{user}}</h1>
        <h1><a href="{% url 'logout' %}">Sair</a></h1>   
        <nav class="navbar">
            <a href="{% url 'home' %}"><h1>Biblioteca</h1></a>
            <form role="search">
                <input type="search" name="q">
                <button type="submit">Buscar</button>
                <button><a href="" role="button">Sem acervo</a></button>
            </form>
        </nav>
        
    </header>
    <main>
        <section class="book-table">
            <h2>Livros Cadastrados</h2>
            <table class="table-books-details">
                <thead>
                    <tr>
                        <th class="table-th">Código</th>
                        <th class="table-th">Titulo</th>
                        <th class="table-th">Autor</th>
                        <th class="table-th">Genero</th>
                        <th class="table-th">Disponivel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td class="table-td">{{book.id}}</td>
                        <td class="table-td"><a href="{% url 'book-detail' book.id %}">{{book.title}}</a></td>
                        <td class="table-td">{{book.author}}</td>
                        <td class="table-td">{{book.literary_genres}}</td>
                        <td class="table-td">{{book.in_stock}}</td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
            {% if user.is_authenticated %}
            <a class="add-button" href="" type="submit">Adicionar Livro</a>
            {% endif %}
        </section>
    </main>
    <footer>
        
    </footer>


</body>
</html>